---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: argocd-secret
  namespace: argocd
spec:
  encryptedData:
    admin.password: AgCFeI8lRDFfd+8yraKnQhXC8D0TfJzOijKMylMRCiyoLwQeRHmjkl56mPSDSYeXE2LSSn4hXqEm8T6taj4ojgewDJKldLm867uJWDGsyuZOT6HWq5lKdfCWgcB8e5clrHgXS/KYOcZ+fVVfFnIoggE2hmkRWGDzasQK/8QoI6h1tN6WubDJ6uk6U1GDhhJl7cutXaPoNTfcafvgvJyuSaxMeriWsDu1q9kx6PTB+CipJMD43I3A7xmVYCXdnBn0KO2XluICNVpv0To/f7NVoID0I97UmpGZNXlj6OL6Ejr1WM1ADAU9lcuCQBryipgfd4wBsaBCIy/ngrI+QODUgAJL4H3qx9IzR77QJp1U0yXd5Ih0Fo3QToy7ZdqTGvDSmnXKi2JyRIxbdwef6P5fuoG9kYuhB2BSTAHJtyGeQrXcu7ad2XODRS/WV1+zClJOt+hHukaqECGNA7la4JoYEpc2G06zt0Zrgt10vasy/f6a2tq9BjCS2K+a7WxcVIiY6SjihXiq8fPgdYxkUyh0iLaA1WCp+AnMppBAXs/94+HQpOce2XmasMlsKbizyV2u7p2JzBeQHlrbfBEKJk0kApR+IodbYGgvpqxrKPSKPoPWbjaNP7oz2L5E4/+NuT/yRGW0tk/1S/ilowfCHQX/UQZrqIwthtKb1Wmn9/loV9Fb8/Ms9RbkTgCj6sTAP+Ap94BCLjI+1VHJcrWCQeX+tg+1ALLcPsk1JW8Ao11KsgiKOe0hD2SvbodrJa2UQGdXsUbhBgHYqf6sxvhyKKo=
    admin.passwordMtime: AgAUJHwbIvwfabcCPdGI0yZm/9TYyRCR7xzDeKI4+Zk6Yxtin/LzR4Hj/8m0ZSZdrUkSuZka98wyv1QPzKVE0Vl2GvFKkuZlClP6OcaKchGyLCSDKvAS3T1mD2xq9A8jjE2zxuJbXu+uWIM4NXYtEN/WguMDJqnzOeVKVEZMehcy5yg0UBljZukre0hGjp4p+5PX/zQLvsIOeqCgmfK0MrVxYduOn6NuZ5XPsInCKZO1sk8jd6qXjZUmy2fiYYkckCVTYyalJWagx4j3Tt9Ts5rFNbiayWXVSQuyOPQgec4XNdLSlQpQMQ/vnOrsGrVsaQw00hOxRPPVFXh8Tlif8BX2OCx3mL4Eu7shv398azXF2GlDFRY5g4Pp9zv3uZL9XxpKorUs7bETrvsJCEX5T18ZlFLK1mpnsqs5ERPWfOpDBi24WFxhPD+rbJ8kTEGlPdmnlp+NBxNKrTr/3CF9o5qihqxuRtTU9/avfIvHLX9mpHf3sjq15wVBvtXeX4IRPWLo2ELn3fud/RU3CO/ljjlLjHzV6I8Utt3zm2tFoG8uXtiWDr5KKAoiBGeBmGdJkFoXk24ya2TAPa7LlnFKTagEBU3P+YKX9DGyntwmIYbeUqHBUkDTxfLgkGgADjV4fEsT7Eza4wckuWJ/2fUS4YuvJye32mVdgKqopsN2WAhQJ+KarQWLCgyFGv/f8jzoEoEFWjl+9a0jPGu2hHAoELX/xUqcxw==
  template:
    metadata:
      name: argocd-secret
      namespace: argocd
    type: Opaque
